<app-admin-nav-bar></app-admin-nav-bar>

<!-- Topic -->
<div class="container">
  <h1 style="margin-bottom: 40px" class="text-center">Requests</h1>
</div>
<!-- End of topic -->

<div class="container">
  <hr />
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <!-- Menus for navigation of messages -->
        <li><a href="/admin/maintenance"></span> Maintenance requests </a></li>
        <li><a href="/admin/move">Move Requests</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-10">

      <!--List of move reuests-->
      <div class="msg odd" *ngFor="let message of moves">
        <div class="col-md-3 author">
          <label for="checkbo">
            <input type="checkbox" [(ngModel)]="message.deleted" id="checkbo">
          </label>
          <h5 class="media-heading">{{message.sender}} <small class="text-muted"> </small></h5><small class="text-muted">
          <i class="fa fa-clock-o"></i>{{message.createdAt}}</small>
        </div>
        <div [ngClass]="{strike: message.deleted}" class="col-md-9">
          {{message.message}}
        </div>
        <span>(Rs.{{message.price}})</span><br/>
        <span>Room Id: {{message.roomId}}</span>
        <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#costModal" (click)="editMove(message)">Edit</button>
        <app-cost></app-cost>
        <button class="btn btn-danger btn-xs pull-right" (click)="deleteMove(message)">X</button>
        <div class="clearfix"></div><hr/>
      </div>
    </div>
  </div>
</div>
