<app-admin-nav-bar></app-admin-nav-bar>
<div class="container">
  <div class="row">
    <!--Side bar-->
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="nav-header"> <div data-toggle="collapse" data-target="#firstSet">
          <h5>Tools<i class="glyphicon glyphicon-chevron-down"></i></h5>
        </div><br>
          <ul class="list-unstyled collapse in" id="firstSet">
            <li class="active"> <a routerLink="/admin"><i class="glyphicon glyphicon-home"></i>Main</a></li><br>
            <li><a routerLink="/admin/maintenance"><i class="glyphicon glyphicon-envelope"></i> Maintenance Tickets <span class="badge badge-info">4</span></a></li><br>
            <li><a routerLink="/admin/move"><i class="glyphicon glyphicon-envelope"></i> Move Tickets <span class="badge badge-info">4</span></a></li><br>
            <li><a routerLink="/"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
          </ul>
        </li>
      </ul>

      <ul class="list-unstyled">
        <!--Items-->
        <li class="nav-header"> <div data-toggle="collapse" data-target="#itemsSet">
          <h5>Items<i class="glyphicon glyphicon-chevron-down"></i></h5>
        </div><br>
          <ul class="list-unstyled collapse in" id="itemsSet">
            <li class="active"> <a routerLink="items/add"><i class="glyphicon glyphicon-home"></i>Add Item</a></li><br>
            <li><a routerLink="/admin/items"><i class="glyphicon glyphicon-envelope"></i> View Items <span class="badge badge-info">4</span></a></li><br>
          </ul>
          <!--Employees-->
        <li class="nav-header"> <div data-toggle="collapse" data-target="#employeeSet">
          <h5>Employees<i class="glyphicon glyphicon-chevron-down"></i></h5>
        </div><br>
          <ul class="list-unstyled collapse in" id="employeeSet">
            <li class="active"> <a routerLink="employees/add"><i class="glyphicon glyphicon-home"></i>Add Employee</a></li><br>
            <li><a routerLink="/admin/employees"><i class="glyphicon glyphicon-envelope"></i> View Employee <span class="badge badge-info">4</span></a></li><br>
          </ul>
        </li>
        <!--Rooms-->
        <li class="nav-header"> <div data-toggle="collapse" data-target="#roomSet">
          <h5>Rooms<i class="glyphicon glyphicon-chevron-down"></i></h5>
        </div><br>
          <ul class="list-unstyled collapse in" id="roomSet">
            <li class="active"> <a routerLink="rooms/add"><i class="glyphicon glyphicon-home"></i>Add Room</a></li><br>
            <li><a routerLink="/admin/rooms"><i class="glyphicon glyphicon-envelope"></i> View Rooms <span class="badge badge-info">4</span></a></li><br>
          </ul>
      </ul>
    </div>


    <div class="col-md-9">
      <!-- Heading-->
      <a href="#"><strong>Admin Panel</strong></a>
      <hr>

      <!--Add new item-->


    </div>
  </div>
</div>
