<div class="container">
  <div class="card card-block">
    <img class="img-block" src="https://s26.postimg.org/ij8fnkhg9/avatar.png"/>
    <!-- Login Form-->

    <div class="alert alert-danger" *ngIf="(email.touched && (email.invalid || email.pristine && email.errors.pattern ) || password.touched && (password.invalid || password.pristine ))">
      <a data-dismiss="alert" href="#"></a>Please fill out Username or Password!
    </div>

    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email"
             id="inputEmail"
             class="form-control"
             [(ngModel)]="employee.email"
             name="email"
             #email="ngModel"
             [ngModelOptions]="{updateOn: 'change'}"
             placeholder="Email address"
             required
             autofocus>
      <input type="password"
             id="inputPassword"
             class="form-control"
             [(ngModel)]="employee.password"
             name="password"
             #password="ngModel"
             [ngModelOptions]="{updateOn: 'change'}"
             placeholder="Password"
             required>

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form><!-- End of login form -->
  </div><!-- /card-block -->
</div><!-- /container -->
