<!--Add cost for relocation requests-->
<div class="modal fade" id="costModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="update(moveMessage.price)" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Cost For Office Move Requests</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="message-text" class="form-control-label">Cost:</label>
            <input    type="text"
                      class="form-control"
                      id="message-text"
                      [(ngModel)]="moveMessage.price"
                      name="moveMsg"
                      #moveMsg="ngModel"
                      [ngModelOptions]="{updateOn: 'change'}"
                      required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button><br><br>
        </div>
      </div>
    </form>
  </div>
</div>
