<app-user-nav-bar></app-user-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="nav-header"> <div data-toggle="collapse" data-target="#userMenu">
          <h5>Tools<i class="glyphicon glyphicon-chevron-down"></i></h5>
        </div><br>
          <ul class="list-unstyled collapse in" id="userMenu">
            <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i>Home</a></li><br>
            <li><a routerLink="../mytickets/maintenance"><i class="glyphicon glyphicon-envelope"></i> Tickets <span class="badge badge-info">4</span></a></li><br>
            <li><a routerLink="/"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
        <img src="/src/assets/add.png" data-toggle="modal" data-target="#maintenanceModal" class="rounded float-left" width="150px" height="150px"><label>New Maintenance Request</label>
        <app-maintenance-req-sender></app-maintenance-req-sender>
      <!--</a>-->
    </div>
    <div class="col-md-3">
      <!--<a href="#">-->
        <img src="/src/assets/add.png" data-toggle="modal" data-target="#moveModal" class="rounded float-left" width="150px" height="150px"><label>New Move Request</label>
        <app-move-req-sender></app-move-req-sender>
      <!--</a>-->
    </div>
    <div class="col-md-3">
      <a routerLink="/mytickets/maintenance">
        <img src="/src/assets/message.png" class="rounded float-left" width="150px" height="150px"><label>View My Tickets List</label>
      </a>
    </div>
  </div>
</div>
