<!-- NavBar -->
<div id="top-nav" class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" routerLink="/user">UGNiP</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/user"><i class="glyphicon glyphicon-user"></i>{{UserName}}</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /NavBar -->
